
<section ng-controller="BuscarMusica" class="Buscador">
  <div class="Buscador-ContInput">
    <input ng-model="artista" class="Buscador-Input"/>
    <div class="Buscador-Botonera"><span ng-click="buscar(artista)" class="Buscador-Boton">Buscar</span></div>
    <ul ng-hide="Hide" class="Buscador-Similares">
      <li ng-click="Relacionado == true ? Relacionado = false : Relacionado = true" class="Buscador-SimilaresTitle">Artistas Relacionado: <span>{{RelacionadoLength}}</span>
        <ul ng-hide="Relacionado" class="Buscador-SimilaresCont">
          <li ng-repeat="similar in OtrasOpciones" ng-click="busquedaArtista(similar.id)">
             
            {{similar.nombre}}
          </li>
        </ul>
      </li>
    </ul><loader></loader>
    <p class="Artista-Mensaje">{{Mensaje}}</p>
    <section ng-hide="Hide" class="Artista">
      <p class="Artista-Nombre">{{Artista.nombre}}</p>
      <figure class="Artista-ContImg"><img ng-src="{{Artista.img}}" alt="" class="Artista-Img"/></figure>
      <p class="Album-Titulo">Albums</p>
      <section class="Album-Wrapper">
        <ul class="Album">
          <li ng-repeat="album in Artista.albums" class="Album-Item">
            <p class="Album-Nombre">{{album.nombre}}</p>
            <figure class="Album-ContImg"><img ng-src="{{album.img}}" alt="" class="Album-Img"/></figure>
            <ul class="Track-Wrapper">
              <p class="Track-Titulo">Tracks</p>
              <li ng-repeat="track in album.tracks" class="Track-Item">{{track.nombre}}</li>
            </ul>
          </li>
        </ul>
      </section>
    </section>
  </div>
</section>