.Header {
  background-color: #363c4a;
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.Buscador {
  margin: 0 auto;
  margin-top: 80px;
  width: 90%;
}
.Buscador-ContInput {
  width: 100%;
}
.Buscador-Input {
  background-color: #6e7280;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  color: #f9f9f9;
  padding-left: 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.Buscador-Botonera {
  text-align: right;
}
.Buscador-Boton {
  background-color: #6e7280;
  -webkit-box-shadow: inset 0px -5px #434a5b;
  box-shadow: inset 0px -5px #434a5b;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  color: #f9f9f9;
  font-weight: bold;
  width: 100px;
}
.Buscador-Boton:hover {
  line-height: 35px;
  -webkit-box-shadow: inset 0px -35px #434a5b;
  box-shadow: inset 0px -35px #434a5b;
}
.Buscador-Similares {
  margin-top: 30px;
  margin-bottom: 30px;
}
.Buscador-SimilaresTitle {
  list-style: none;
  color: #363c4a;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 4px solid #434a5b;
  padding-bottom: 5px;
}
.Buscador-SimilaresTitle span {
  float: right;
  color: #333;
  font-weight: bold;
}
.Buscador-SimilaresCont {
  width: 100%;
}
.Buscador-SimilaresCont li {
  background-color: #363c4a;
  -webkit-box-shadow: inset 0px -3px #434a5b;
  box-shadow: inset 0px -3px #434a5b;
  color: #f9f9f9;
  cursor: pointer;
  height: 30px;
  line-height: 25px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  list-style: none;
  margin-top: 5px;
  padding-left: 10px;
  width: 100%;
}
.Buscador-SimilaresCont li:hover {
  line-height: 30px;
  -webkit-box-shadow: inset 0px -30px #434a5b;
  box-shadow: inset 0px -30px #434a5b;
}
.Artista {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}
.Artista-Nombre {
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  color: #ee3c6c;
  font-weight: bold;
}
.Artista-ContImg {
  width: 100%;
}
.Artista-Img {
  width: 100%;
}
.Artista-Mensaje {
  color: #363c4a;
}
.Loader {
  text-align: center;
}
.Loader p {
  font-weight: bold;
}
.Album {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .Album {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.Album-Wrapper {
  width: 100%;
  margin-top: 30px;
}
.Album-Titulo {
  color: #434a5b;
  font-size: 18px;
}
.Album-Item {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #363c4a;
}
@media screen and (min-width: 768px) {
  .Album-Item {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .Album-Item {
    width: 30%;
  }
}
.Album-Nombre {
  color: #363c4a;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Album-ContImg {
  width: 100%;
}
.Album-Img {
  width: 100%;
}
.Track-Titulo {
  color: #363c4a;
}
.Track-Item {
  color: #ee3c6c;
  font-weight: bold;
  font-size: 16px;
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}
.Track-Item:not(:last-child) {
  border-bottom: 1px solid #6e7280;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
}
