.Buscador
	margin 0 auto
	margin-top 80px
	width 90%
	&-ContInput
		width 100%
	&-Input
		width 100%
		height 30px
		border none
		outline none
		padding-left 15px
		border-radius 4px
		border-bottom 2px solid azulD
	&-Botonera
		text-align right
	&-Boton
		background-color azul
		box-shadow inset 0px -5px azulD
		cursor pointer
		display inline-block
		height 35px
		border-radius 4px
		line-height 30px
		margin-top 10px
		text-align center
		color blanco
		font-weight bold
		width 100px
		&:hover
			line-height 35px
			box-shadow inset 0px -35px azulD
	&-Similares
		margin-top 30px
		margin-bottom 30px
	&-SimilaresTitle
		list-style none
		color azulD
		cursor pointer
		font-weight bold
		margin-bottom  10px
		border-bottom 4px solid azulD
		padding-bottom  5px
		span
			float right
			color negro
			font-weight bold
	&-SimilaresCont
		width 100%
		li
			background-color azulD
			box-shadow inset 0px -3px azul
			color blanco
			cursor pointer
			height 30px
			line-height 23px
			border-radius 4px
			list-style none
			margin-top 5px
			padding-left 10px
			width 100%
			&:hover
				line-height 30px
				box-shadow inset 0px -30px azulD
	