.Artista
	margin-top 10px
	padding 10px
	background-color blanco
	&-Nombre
		text-align center
		margin-bottom 5px
		font-size 20px
		color rosa
		font-weight bold
	&-ContImg
		width 100%
	&-Img
		width 100%
	&-Mensaje
		color morado
		

.Loader
	text-align center
	p
		font-weight bold