section.Buscador(ng-controller='BuscarMusica')
  .Buscador-ContInput
    input.Buscador-Input(ng-model="artista")
    .Buscador-Botonera
      span.Buscador-Boton(ng-click="buscar(artista)") Buscar
    <loader></loader>
    p{{Mensaje}}
    section.Artista(ng-hide="Hide")
      p.Artista-Nombre{{Artista.nombre}}
      figure.Artista-ContImg
        img.Artista-Img(ng-src="{{Artista.img}}", alt="")
      section.Artista-Wrapper
        ul.Artista-Items(ng-repeat="track in Artista.tracks")
          li.Artista-Item 
            span.Artista-Title Canción
            {{track.cancion}}
          li.Artista-Item
            span.Artista-Title Interprete(s):
            ul
              li(ng-repeat="interprete in track.interpretes")
                {{interprete}}
          li.Artista-Item
            span.Artista-Title Album
            a(ui-sref="album({id:track.id})" href="#")
              {{track.album}}